body
{
	font-family: 'Raleway', Arial, sans-serif;
}
h1
{
	letter-spacing: 2px;
}
a:link
{
    color:black;
    text-decoration: none;
}
a:visited
{
   color:black;
   text-decoration: none; 
}
a:hover
{
   color:black;
   text-decoration: none; 
}
.w3-panel w3-left w3-animate-zoom
{
    display: inline;
}